.header-container {
  padding: 30px 50px;
  background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%, transparent 100%);
  
  .logo {
    font-size: 1rem;
    letter-spacing: 10px; // Very wide logo spacing
    opacity: 0.8;
  }
}